<div class="content">
    <md-card>
        <md-card-header>
            <md-card-title>{{(task$ | async).title}}</md-card-title>
            <md-card-subtitle>Task</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <p>{{(task$ | async).description}}</p>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button>Resolve</button>
        </md-card-actions>
    </md-card>

    <pre>{{ task$ | async | json }}</pre>
</div>