body{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    & > .container-fluid{
        position: relative;
    }
}
.background{
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    .mask{
        background: rgba(0, 0, 0, 0.50);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}
.modal{
    width: 300px;
    background-color: rgba(45, 53, 57, 0.56);
    .modal-content a{
        text-align: center;
        color: #fff;
    }
}
.full-width{
    width: 100%;
}
.container{
    padding: 20px 0;
}
nav.top-navbar{
    .profile-container{
        margin: 0 30px;
        height: 100%;
        .dropdown-button.btn-flat{
            color: #fff;
            font-weight: bold;
        }
        .avatar{
            height: 80%;
            margin: 6px;
        }
    }
}
.index{
    min-height: 40vh;
    h1{
        color: #fff;
        font-weight: 100;
    }
}