<md-toolbar>
    <h3 md-dialog-title>Projects</h3>
</md-toolbar>
<md-dialog-content>
    <form (ngSubmit)="save()" #projectForm="ngForm">
        <div>
            <md-input-container>
                <input mdInput placeholder="Title" value="" [(ngModel)]="data.title" name="name" required>
            </md-input-container>
        </div>
        <div>
            <md-input-container>
                <textarea mdInput placeholder="Description" [(ngModel)]="data.description" name="description"></textarea>
            </md-input-container>
        </div>
        <div>
            <button md-raised-button type="submit" [disabled]="!projectForm.form.valid">Save project</button>
        </div>
    </form>
</md-dialog-content>
