<md-toolbar>
  <h3 md-dialog-title>Task</h3>
</md-toolbar>
<md-dialog-content>
  <form (ngSubmit)="save(task)" [formGroup]="task">
    <div>
      <md-input-container>
        <input mdInput placeholder="Title" value="" formControlName="title">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <textarea mdInput placeholder="Description" formControlName="description" style="height: 186px;"></textarea>
      </md-input-container>
    </div>
    <div>
      <button md-raised-button type="submit" [disabled]="task.invalid">Save project</button>
    </div>
  </form>
</md-dialog-content>