@import "assets/material";
@import "assets/global";

md-sidenav{
  @include mat-elevation(10);
  padding: 15px;
}
.mat-toolbar{
  background: none;
}

md-list-item.raised{
  @include mat-elevation(2);
  background: white;
}