<md-toolbar>
    <span>Projects</span>
    <span class="fill-remaining-space"></span>
    <button md-mini-fab md-tooltip="Add a Project" (click)="openProjectEditor()"><md-icon>add</md-icon></button>
</md-toolbar>
<div class="content">
    <md-list>
        <md-list-item class="raised" *ngFor="let project of projects$ | async" [routerLink]="['/project', project.id]">
            <md-icon md-list-avatar>folder</md-icon>
            <h4 md-line>{{project.title}}</h4>
            <p md-line> Open bugs: {{project.tasks.length}} </p>
        </md-list-item>
    </md-list>
    <pre>{{ projects$ | async | json }}</pre>
</div>