<md-toolbar>
  <span>{{ (project$ | async)?.title }}</span>
  <span class="fill-remaining-space"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="openProjectEditor()">
      <md-icon>mode_edit</md-icon>
      <span>Edit</span>
    </button>
    <button md-menu-item>
      <md-icon>delete</md-icon>
      <span>Remove</span>
    </button>
  </md-menu>
  <button md-mini-fab md-tooltip="Create a task" (click)="openTaskEditor()">
    <md-icon>add</md-icon>
  </button>
  <md-toolbar-row *ngIf="(project$ | async)?.description && (project$ | async)?.description.length > 0">
    <small>{{ (project$ | async)?.description }}</small>
  </md-toolbar-row>
</md-toolbar>
<div class="content">
  <div *ngIf="(project$ | async).tasks && (project$ | async).tasks.length == 0">No Bugs in this project</div>
  <md-card *ngFor="let task of (project$ | async).tasks" [routerLink]="['/project',(project$ | async ).id , task.id]">{{ task.title }}</md-card>
  <pre>{{ project$ | async | json}}</pre>
</div>