<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="side" opened="true" class="example-sidenav">
    <md-toolbar class="">
      <h2 class="n">BB-Tracker</h2>
    </md-toolbar>
    <md-list>
      <md-list-item>
        <a md-button routerLink="/" class="full">Projects</a>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet></router-outlet>

</md-sidenav-container>